#!/usr/bin/env python

from zabbix_api import ZabbixAPI
import socket

def main():
    server = '{{ zabbix_endpoint }}'
    username = '{{ zabbix_api_username }}'
    password = '{{ zabbix_api_password }}'
    hostname = socket.gethostname()

    zapi = ZabbixAPI(server=server)
    zapi.login(username, password)

    hostid = zapi.host.get({'filter': hostname})[0]['hostid']

    zapi.host.delete([hostid])


if __name__ == '__main__':
    def main()
